@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Jockey One', sans-serif;
  padding: 0px;
  margin: 0px;
}


.background-white {
  background-color: white;
  color: black;
}

.background-black {
  background-color: rgb(174, 190, 190);
  color: white;
}



.headerContainer{
  padding: 0;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}

.header{
  margin-left: 30px;
  
}


.themebutton{
  grid-column: 9/10;
  width: auto;
  height: auto;
  margin: 0px 25px;
  align-self: center;
  font-size: 1.1em;
  font-family: 'Jockey One', sans-serif;
}

.countryContainer{
  background-color: #ddd1d1;
  text-align: center;
  padding: 0;
  grid-column: 2/8;
  margin: 35px 0;
}

.countryInformation{
  text-align: center;
  padding: 0;
  grid-column: 2/8;
  margin: 35px 0;
}

.countryflag{
  height: auto;
  width: 100%;
}

.countryName{
  margin-top: 5px;
  font-size: 1.2em;
}

.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.searchgrid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.countrydetails{
  text-align: left;
  margin-left: 20px;
}



select{
  height: 30px;
  grid-column: 2/5;
  font-size: 1.1em;
  font-family: 'Jockey One', sans-serif;
  margin-top: 10px;
}

.search{
  grid-column: 2/8;
  height: 30px;
  font-family: 'Jockey One', sans-serif;
  text-align: left;
  border: 2px solid #9b9b9b;
  border-radius: 20px;
}

.backbutton{
  margin-left: 49px;
  width: 90px;
  height: 39px;
  font-family: 'Jockey One', sans-serif;
}

/* small tablet styles */
@media screen and (min-width: 900px){

  .grid{
    display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	  justify-content: space-between;
	  margin: auto;
	  max-width: 3440px;
	  padding: 50px;
	  position: relative;
  }

  .countryContainer{
    background-color: #ddd1d1;
	  cursor: pointer;
	  overflow: hidden;
	  margin: 15px 10px;
	  max-width: 100%;
	  width: 300px;
  }

  .searchgrid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

select{
  height: 40px;
  grid-column: 9/12;
  font-size: 1.5em;
  font-family: 'Jockey One', sans-serif;
  margin-top: 10px;
}

.search{
  grid-column: 2/6;
  height: 40px;
  font-family: 'Jockey One', sans-serif;
  font-size: 1.5em;
  text-align: left;
  border: 2px solid #9b9b9b;
  border-radius: 20px;
}

.backbutton{
  margin-left: 49px;
  width: 130px;
  height: 50px;
  font-family: 'Jockey One', sans-serif;
}

.countryInformation{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.countryflag{
  height: 100%;
  width: 100%;
}

.countrydetails{
  text-align: left;
  margin-left: 40px;
  font-size: 1.4em;
  font-family: 'Jockey One', sans-serif;
}

h3{
  font-size: 1.7em;
  padding: 0;
  margin: 0;
}

}

